extends ../layout.pug
include ../components/bypass-links
//- Compositor's Description
block content
    section
        h2 Présentation
        div.grid.md
            figure.col-50
                img(src=compositor.figure, alt=`Image de ${compositor.name}`)
                figcaption Source Wikipédia
            div.col-50
                h3 Identité
                ul.list
                    li
                        span.xlight Nom : 
                        strong #{compositor.name} 
                    li
                        span.xlight Vécu : 
                        strong #{compositor.timelaps} 
                        span.mlight &mdash; pendant ± #{compositor.life} ans
                    li
                        span.xlight Origine : 
                        strong #{compositor.origin}
                h4 Période(s) musicale(s)&nbsp;:
                ul.list
                    each period in compositor.periods
                        li: a(href=`../periodes/${period.tag}`) #{period.name}
                    else 
                        li.nothing Aucune période répertoriée.
    //- Shortcut navigation throughout register
    +bypass-links(previous, next)
    