extends ../layout.pug
//- Info page
block content
    section
        h2 Description de “MusicalEras”
        div.grid.md
            div.col-50
                h3 Projet
                p Cette application est un exemple basique de 
                    strong développement Fullstack avec Node.js/Express.js. 
                    | Elle n'a pas pour vocation de constituer une référence historique absolument complète, et demeurre 
                    strong très approximative tant dans les dates que dans les origines.
                p L'application est un portail d'aperçu des différentes périodes qui se sont succédées dans la 
                    strong Musique occidentale savante.
                    | Chaque période répertorie également quelques compositeurs et compositrices emblématiques.
                h4 Sources
                p La pertinence historique n'étant pas le but premier de cette application. La source principale n'est autre que la page 
                    a(href="https://fr.wikipedia.org/wiki/Chronologie_de_la_musique_classique_occidentale", rel="noreferer", target="_blank") Chronologie en musique classique occidentale 
                    | sur Wikipédia.
            div.col-50
                h3 Développement
                p Cette application est développée et maintenue par 
                    strong: a(href="https://www.elodiebayet.com/fr/", title="Aller sur le site", rel="noreferer", target="_blank") Elodie Bayet 
                    em.xlight &mdash; Développeuse Web Fullstack.
                p Le code source est disponible sur 
                    strong: a(href="https://bitbucket.org/ElodieBayet/musicaleras/", title="Aller sur le site", rel="noreferer", target="_blank") Bitbucket
                    | .
                h4 Technologies
                div.grid.sm
                    div.col-33.badge
                        div.icon: img(src="https://www.elodiebayet.com/store/icons/icon_nodejs_wt.svg", alt="Node.js Logo")
                        div.title: p Node.js
                    div.col-33.badge
                        div.icon: img(src="https://www.elodiebayet.com/store/icons/icon_npm.svg", alt="NPM Logo")
                        div.title: p NPM
                    div.col-33.badge
                        div.icon: img(src="https://www.elodiebayet.com/store/icons/icon_git.svg", alt="GIT Logo")
                        div.title: p Git
                    div.col-33.badge
                        div.icon: img(src="https://www.elodiebayet.com/store/icons/icon_js.svg", alt="JavaScript Logo")
                        div.title: p JavaScript
                    div.col-33.badge
                        div.icon: img(src="https://www.elodiebayet.com/store/icons/icon_mongodb.svg", alt="MongoDB Logo")
                        div.title: p MongoDB
                    div.col-33.badge
                        div.icon: img(src="https://www.elodiebayet.com/store/icons/icon_pug.svg", alt="Pug Logo")
                        div.title: p Pug
            div.col-50
                
                    