extends ../layout.pug
//- List of periods available
block content
    section
        h2 Répertoriées
        each period in periods
            div.divided
                h3
                    a(href=`./${path[0]}/${period.tag}`) !{period.name} 
                        span.mlight :: #{period.timelaps}
                p 
                    strong.lighten &sum; #{period.count} 
                    span compositeur(s) et compositrice(s) répertorié.e.s
                p 
                    em.light #{period.shortened}
                    a(href=`./${path[0]}/${period.tag}`) Voir les détails
        else
            div.divided
                p.nothing Aucune période trouvée.