extends ../layout.pug
include ../components/filter-togglers
block append scripts
    script(type="module", src="/js/components/itemsFilter.js")
//- List of compositors available
block content
    section
        h2 Éléments répertoriés
        if periods
            +filter-togglers(periods)
        div.grid.md
            //- Loop on compositors
            each compositor in compositors
                //- Prepare list of periods if so
                - let li = '';
                - let tags = '';
                if compositor.periods
                    each period in compositor.periods
                        - li += `<li>${period.name}</li>`;
                        - tags += `${period.tag}_`
                div.col-50.topic(data-tag=tags)
                    a(href=`./${path[0]}/${compositor.tag}`, title="Voir la fiche", class="route")
                        span.blind !{compositor.name}
                    h4 !{compositor.name} 
                    p.light: em #{compositor.timelaps}
                    //- List of periods if so
                    if compositor.periods
                        ul.listitem.apart
                            != li
            else
                div.divided
                    p.nothing Aucun élément trouvé.