extends ../layout.pug
include ../components/bypass-links
//- Period Description
block content
    section
        h2 Description
        div.grid.md
            div.col-50
                h3 Durée&nbsp;:
                p La période 
                    strong “#{title}” 
                    | s'étend 
                    strong #{period.timelaps} 
                    span.light &mdash; soit ± #{period.duration} ans 
                h3 Particularité&nbsp;: 
                p #{period.description}
            div.col-50
                h3 Compositeur.rice.s&nbsp;:
                ul.list
                    each compositor in compositors 
                        li 
                            a(href=`../compositeurs/${compositor.tag}`, title="Voir les détails") #{compositor.name} 
                            span.light &mdash; #{compositor.timelaps}
                    else
                        li.nothing Aucun.e compositeur.rice répertorié.e.
    //- Shortcut navigation throughout register
    +bypass-links(previous, next)