//- App logo
mixin app-logo
    a.applogo(href="/" title="Retourner à l'accueil")
        span.icon: img(src="/trademark/musicaleras_icon_wt.svg", alt="Icon Musical Eras", width="32", height="28")
        span.title MusicalEras
    p Périodes en Musique occidentale savante